* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Header */

header.top {
    position: relative;
    height: 90vh;
    background-image: url(../img/photohead.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;

}

header.top>* {
    position: absolute;
}

header.top div.welcome {
    height: 100%;
    top: 0%;
    left: 10%;
    right: 10%;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

}

header.top p {
    font-size: 4rem;
}

header.top h1 {
    padding-top: 5%;
    font-size: 1.6rem;
}

header.top h2 {
    padding-top: 5%;
    font-size: 1.6rem;
    font-weight: normal;
}

header.top button {
    margin-top: 110%;
    font-weight: 300;
    line-height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 1.2rem;
    border: 2px solid white;
    transition: .3s;
    outline: none;
}

@media(orientation: portrait) and (min-width:360px) {
    header.top p {
        font-size: 5rem;
    }

    header.top h1 {
        padding-top: 15%;
        font-size: 2.0rem;
    }

    header.top h2 {
        padding-top: 5%;
        font-size: 1.8rem;
    }

    header.top button {
        margin-top: 110%;
        line-height: 32px;
        font-size: 1.6rem;
        padding: 10px 30px;

    }
}

@media(orientation: portrait) and (min-width:375px) and (min-height:812px) {
    header.top p {
        font-size: 5rem;
    }

    header.top h1 {
        padding-top: 25%;
        font-size: 2.0rem;
    }

    header.top h2 {
        padding-top: 5%;
        font-size: 1.8rem;
    }

    header.top button {
        margin-top: 140%;
        line-height: 40px;
        font-size: 1.6rem;
        padding: 10px 30px;

    }
}

@media(orientation: portrait) and (min-width:768px) {
    header.top p {
        font-size: 7rem;
    }

    header.top h1 {
        padding-top: 13%;
        font-size: 3rem;
    }

    header.top h2 {
        font-size: 3rem;
    }

    header.top button {
        margin-top: 80%;
        line-height: 100px;
        font-size: 3rem;
        padding: 0 30px;

    }
}

@media(orientation: portrait) and (min-width:1024px) {
    header.top p {
        font-size: 9rem;
    }

    header.top h1 {
        font-size: 4rem;
    }

    header.top h2 {
        font-size: 4rem;
    }

    header.top button {
        line-height: 120px;
        font-size: 4rem;
        padding: 0 40px;

    }
}

@media(orientation: landscape) {

    header.top p {
        font-size: 3rem;
    }

    header.top h1 {
        padding-top: 3%;
        font-size: 1.1rem;
    }

    header.top h2 {
        padding-top: 0%;
        font-size: 1.1rem;
    }

    header.top button {
        margin-top: 35%;
        line-height: 32px;


    }
}

@media(orientation: landscape) and (min-width:640px) {
    header.top p {
        font-size: 3.5rem;
    }

    header.top h1 {
        font-size: 1.2rem;
    }

    header.top h2 {
        padding-top: 1%;
        font-size: 1.2rem;
    }

    header.top button {
        margin-top: 33%;
    }
}

@media(orientation: landscape) and (min-width:736px) {
    header.top {
        background-position: left;
        background-size: 120%;
    }

    header.top div.welcome {
        left: 5%;
        top: 2%;
        text-align: left;
    }

    header.top p {
        font-size: 5rem;
    }

    header.top h1 {
        padding-top: 0;
        font-size: 1.8rem;
    }

    header.top h2 {
        font-size: 1.6rem;
    }

    header.top button {
        font-size: 1.6rem;
        margin-top: 26%;
        padding: 0 30px;
        line-height: 50px;
    }
}

@media(orientation: landscape) and (min-width:812px) {
    header.top {
        background-position: left;
        background-size: 100%;
    }

    header.top div.welcome {
        left: 5%;
        top: 0%;
        text-align: left;
    }

    header.top p {
        font-size: 5rem;
    }

    header.top h1 {
        padding-top: 0;
        font-size: 1.8rem;
    }

    header.top h2 {
        font-size: 1.6rem;
    }

    header.top button {
        font-size: 1.5rem;
        margin-top: 22%;
        padding: 0 30px;
        line-height: 50px;
    }
}

@media(orientation: landscape) and (min-width:1024px) {
    header.top {
        background-position: left;
        background-size: 132%;
    }

    header.top p {
        font-size: 7rem;
    }

    header.top h1 {
        font-size: 2.5rem;
        padding-top: 20px;
    }

    header.top h2 {
        font-size: 2.5rem;
    }

    header.top button {
        margin-top: 32%;
        font-size: 2rem;
        line-height: 80px;


    }
}

@media(orientation: landscape) and (min-width:1366px) {
    header.top {
        background-size: 120%;

    }

    header.top div.welcome {
        left: 6%;
        top: 2%;

    }

    header.top p {
        font-size: 8rem;
    }

    header.top h1 {
        padding-top: 1%;
        font-size: 3rem;
    }

    header.top h2 {
        font-size: 3rem;
    }

    header.top button {
        margin-top: 28%;
        line-height: 100px;
        font-size: 3rem;


    }
}

@media(orientation: landscape) and (min-width:1366px) and (min-height:1024px) {
    header.top {
        background-size: 132%;

    }

    header.top div.welcome {
        left: 6%;
        top: 2%;

    }

    header.top p {
        font-size: 8rem;
    }

    header.top h1 {
        padding-top: 1%;
        font-size: 3rem;
    }

    header.top h2 {
        font-size: 3rem;
    }

    header.top button {
        margin-top: 33%;
        line-height: 100px;
        font-size: 3rem;


    }
}

@media(orientation: landscape) and (min-width:1440px) {
    header.top {
        background-size: 105%;

    }

    header.top div.welcome {
        left: 6%;
        top: 1%;

    }

    header.top p {
        font-size: 6rem;
    }

    header.top h1 {
        padding-top: 1%;
        font-size: 2.5rem;
    }

    header.top h2 {
        font-size: 2.5rem;
    }

    header.top button {
        margin-top: 25%;
        line-height: 80px;
        font-size: 2.5rem;
    }
}

@media(orientation: landscape) and (min-width:1600px) {
    header.top p {
        font-size: 7rem;
        padding-top: 2%;
    }

    header.top h1 {
        padding-top: 1%;
        font-size: 3rem;

    }

    header.top h2 {
        font-size: 3rem;
    }

    header.top button {
        margin-top: 30%;
        padding: 0 50px;
    }
}

@media(orientation: landscape) and (min-width:1920px) {
    header.top p {
        font-size: 9rem;
    }

    header.top h1 {
        font-size: 3.5rem;
        padding-top: 3%;

    }

    header.top h2 {
        font-size: 3.5rem;
    }

    header.top button {
        margin-top: 26%;
        line-height: 120px;
        font-size: 3.5rem;
    }
}

@media(min-width:1024px) {
    header.top button:hover {
        cursor: pointer;
        background-color: rgb(14, 30, 38, 0.5);

    }
}

/* Section 1 */

h1.general {
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    color: #0E1E26;
}

.features {
    max-width: 1600px;
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.features img {
    width: 100%;
    max-width: 375px;
    margin: 20px 0;
}

.features h2 {
    font-size: 1.8rem;
    margin-bottom: 12px;
    color: #0E1E26;
}

.features p.description {
    font-size: 1.2rem;
    line-height: 170%;
    font-weight: 300;
    color: #0E1E26;
}

@media(min-width:640px) {
    .features p.description {
        font-size: 1.4rem;
    }
}

@media(min-width:1024px) {
    .feature {
        width: 33.33%;
        float: left;
        padding: 5% 20px;
    }

    h1.general {
        font-size: 5rem;
    }

    .features h2 {
        font-size: 2.2rem;
        margin-bottom: 30px;
    }

    .features p.description {
        font-size: 1.6rem;
    }
}

@media(min-width:1366px) {
    h1.general {
        font-size: 5rem;
    }

    .features h2 {
        font-size: 2.5rem;
    }

    .features p.description {
        font-size: 2rem;
    }
}

@media(min-width:1600px) {
    h1.general {
        font-size: 5rem;
    }

    .features h2 {
        font-size: 2.8rem;
    }

    .features p.description {
        font-size: 2.4rem;
    }
}

/* Section 2 portfolio */

.portfolio {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #0E1E26;
    color: white;
}

.portfolio .project {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio .project:nth-of-type(odd) {
    background-color: #5AC2FA;
}

.portfolio .project:nth-of-type(even) {
    background-color: #FA636E;
}

.portfolio .general {
    margin-bottom: 10%;
    color: white;
}

.project img {
    width: 100%;
}

.project .about {
    text-align: left;
    padding: 5% 5% 5% 0;
}

.project h2 {
    border-bottom: 2px solid white;
    padding-bottom: 5%;
    font-size: 18px;
    text-indent: 5%;
}

.project p {
    font-size: 1.2rem;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
}

@media(min-width:768px) and (orientation:portrait) {
    .portfolio .project {
        margin-bottom: 10%;
    }

    .portfolio .general {
        font-size: 5rem;
    }

    .project .about {
        text-align: left;
        padding: 5% 0 5% 0;
    }

    .project h2 {
        border-bottom: 2px solid white;
        padding-bottom: 5%;
        font-size: 2.5rem;
        text-indent: 10%;
    }

    .project p {
        margin-top: 0;
        margin-bottom: 0;
        padding: 5% 10% 5% 10%;
        font-size: 1.8rem;
    }
}

@media(min-width:1024px) and (orientation:portrait) {
    .project h2 {
        font-size: 3.5rem;
        text-indent: 20%;
    }

    .project p {
        margin-top: 5%;
        font-size: 2rem;
        padding: 0 20% 10%;
    }
}


@media(orientation: landscape) {

    .web,
    .about {
        width: 50%;
        float: left;
    }

    .portfolio .project:nth-of-type(even) .web {
        float: right;
    }

    .portfolio .project:nth-of-type(even) .about {
        padding-right: 0;
        padding-left: 5%;
    }

    .portfolio .project:nth-of-type(even) .about h2 {
        text-indent: 0;
    }

    .portfolio .project:nth-of-type(even) .about p {
        padding-left: 0;
    }

    .web img {
        display: block;
    }

    .project .about {
        text-align: left;
        padding: 1% 5% 2% 0;
    }

    .project h2 {
        border-bottom: 2px solid white;
        padding-bottom: 5%;
        font-size: 18px;
        text-indent: 5%;
    }

    .project p {
        font-size: 1rem;
        margin-top: 5%;
        margin-bottom: 0;
        padding: 0 5%;
    }
}

@media(min-width:640px) {
    .project .about {
        padding: 3% 5% 2% 0;
    }
}

@media(orientation: landscape) and (min-width:736px) {
    .project .about {
        text-align: left;
        padding: 3% 5% 2% 0;
    }

    .project h2 {
        font-size: 2rem;
    }

    .project p {
        font-size: 1.2rem;
    }
}

@media(min-width:1024px) and (orientation:landscape) {
    .portfolio .general {
        font-size: 5rem;
    }

    .project h2 {
        font-size: 2.5rem;
        text-indent: 10%;
    }

    .project p {
        font-size: 1.4rem;
        padding: 0 10%;
    }
}

@media(min-width:1366px) {
    .portfolio .general {
        font-size: 4.5rem;
    }

    .project h2 {
        font-size: 3.5rem;
    }

    .project p {
        font-size: 2rem;
    }
}

@media(min-width:1600px) {
    .portfolio .general {
        font-size: 5.5rem;
    }

    .project h2 {
        font-size: 4.5rem;
    }

    .project p {
        font-size: 2.5rem;
    }
}

/* Sekcja 3 Motto */

.motto {
    text-align: center;
    background-image: url(../img/motto.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.bg {
    padding: 15% 10%;
    background-color: rgb(14, 30, 38, 0.3);
}

.motto .general {
    margin-bottom: 10%;
    color: white;
}

.motto p {
    color: white;
    font-weight: 300;
}

.motto .text {
    font-size: 1.6rem;
    margin-bottom: 15%;
}

.motto .author {
    font-size: 1.2rem;
}

@media(min-width:736px) {
    .motto .general {
        font-size: 3rem;
    }

    .motto .text {
        font-size: 2rem;
    }

    .motto .author {
        font-size: 1.4rem;
    }
}

@media(min-width:1024px) {
    .bg {
        padding: 15% 20%;

    }

    .motto .general {
        font-size: 5rem;
    }

    .motto .text {
        font-size: 3rem;
    }

    .motto .author {
        font-size: 2rem;
    }
}

/* section 4 Hobby */

.hobby {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.hobby .general {
    padding: 10%;
}

.hobby .item {
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item:nth-of-type(1) {
    background-image: url(../img/hobby1.jpg);
}

.item:nth-of-type(2) {
    background-image: url(../img/hobby2.jpg);
}

.item:nth-of-type(3) {
    background-image: url(../img/hobby3.jpg);
}

.item:nth-of-type(4) {
    background-image: url(../img/hobby4.jpg);
}

.item p {
    text-align: center;
    color: white;
    font-size: 2rem;
    background-color: rgb(14, 29, 37, 0.5);
}

@media(min-width:768px) and (orientation:portrait) {
    .hobby .item {
        height: 50vh;
    }

    .hobby .general {
        font-size: 5rem;
    }

    .item p {
        font-size: 4rem;
    }
}

@media(orientation:landscape) {
    .hobby .item {
        width: 50%;
        float: left;
    }
}

@media(min-width:768px) and (orientation:landscape) {
    .hobby .general {
        font-size: 3.5rem;
    }

    .hobby .item {
        height: 50vh;
    }

    .item p {
        font-size: 3rem;
    }
}

@media(min-width:1024px) and (orientation:landscape) {
    .hobby .general {
        font-size: 5rem;
    }

    .item p {
        padding: 0;
        line-height: 50vh;
        font-size: 4rem;
        opacity: 0;
        transition: .5s;
    }

    .item:hover p {
        opacity: 1;
        cursor: pointer;
    }

    .hobby .item {
        background-size: 100%;
        transition: 1s;
    }

    .hobby .item:hover {
        background-size: 130%;
    }
}

@media(min-width:1900px) and (orientation:landscape) {
    .hobby .general {
        font-size: 6rem;
    }

    .item p {
        font-size: 5rem;
    }
}


/* section 5 form */

.contact {
    background-color: #0E1E26;
    color: white;
    padding: 10% 5%;
}

.contact .wrap {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.contact .general {
    padding-bottom: 10%;
    color: white;
}

.contact input,
.contact button,
.contact textarea {
    width: 100%;
    margin-bottom: 8%;
    padding-left: 2%;
    font-size: 1.2rem;
}

.contact input {
    height: 3.6rem;
}

.contact textarea {
    height: 20vh;
    padding-top: 2%;
}

::placeholder {
    color: #0E1E26;
}

.contact button {
    font-size: 1.4rem;
    line-height: 4rem;
    color: white;
    background-color: #0E1E26;
    border: 2px solid white;
    text-transform: uppercase;
    transition: 0.3s;
}

.contact button:hover {
    color: #5AC2FA;
    cursor: pointer;
    background-color: #FA636E;
    border: 2px solid #5AC2FA;
    text-transform: uppercase;
}

.contact .socials {
    padding-top: 5vh;
}

.contact .social {
    padding: 3% 0;
}

.contact .social img {
    float: left;
}

.contact .social span {
    float: left;
    line-height: 72px;
    padding-left: 5%;
    font-size: 1.1rem;
}

.contact .social a {
    color: white;
    text-decoration: none;
}

.contact .social a:hover {
    color: #5AC2FA
}

@media(orientation:portrait) and (min-width:768px) {
    .contact {
        padding: 10% 2%;
    }

    .contact .general {
        font-size: 5rem;
    }

    .contact form {
        float: left;
        width: 50%;
        padding-top: 5vh;
    }

    .contact input,
    .contact button,
    .contact textarea {
        font-size: 1.8rem;

    }

    .contact .socials {
        float: left;
        width: 50%;
        padding-left: 4%;
        padding-top: 10%;
    }

    .contact .social span {
        padding-left: 4%;
        font-size: 1.4rem;
    }
}

@media(orientation:portrait) and (min-width:1024px) {
    .contact {
        padding: 10% 5%;
    }

    .contact input,
    .contact button,
    .contact textarea {
        font-size: 2.6rem;

    }

    .contact .social span {
        padding-left: 5%;
        font-size: 1.8rem;
    }
}

@media(orientation:landscape) and (min-width:533px) {
    .contact {
        padding: 10% 2%;
    }

    .contact form {
        float: left;
        width: 50%;
        padding-top: 5vh;
    }

    .contact .socials {
        float: left;
        width: 50%;
        padding-left: 3%;
        padding-top: 2%;
    }

    .contact .social span {
        padding-left: 1%;
        font-size: 0.9rem;
    }

    .contact textarea {
        height: 30vh;
        padding-top: 2%;
    }

    .contact .social {
        padding-bottom: 8%;
    }
}

@media(orientation:landscape) and (min-width:640px) {
    .contact {
        background-color: #0E1E26;
        color: white;
        padding: 10% 2%;
    }

    .contact form {
        float: left;
        width: 50%;
        padding-top: 5vh;
    }

    .contact .socials {
        float: left;
        width: 50%;
        padding-left: 4%;
        padding-top: 2%;
    }

    .contact .social span {
        padding-left: 4%;
        font-size: 1.1rem;
    }

    .contact textarea {
        height: 30vh;
        padding-top: 2%;
    }

    .contact .social {
        padding-bottom: 8%;
    }
}

@media(orientation:landscape) and (min-width:736px) {
    .contact .general {
        font-size: 2.4rem;
    }

    .contact input,
    .contact button,
    .contact textarea {
        font-size: 1.4rem;

    }

    .contact {
        padding: 10% 5%;
    }

    .contact .social span {
        padding-left: 5%;
        font-size: 1.2rem;
    }
}

@media(orientation:landscape) and (min-width:1024px) {
    .contact .general {
        font-size: 5rem;
    }

    .contact input,
    .contact button,
    .contact textarea {
        font-size: 1.6rem;

    }

    .contact .socials {
        padding-left: 5%;
        padding-top: 5%;
    }

    .contact .social span {
        font-size: 1.6rem;
    }
}

@media(orientation:landscape) and (min-width:1366px) {
    .contact .general {
        font-size: 5rem;
    }

    .contact input,
    .contact button,
    .contact textarea {
        font-size: 2rem;

    }

    .contact .socials {
        padding-top: 6%;
    }

    .contact .social span {
        font-size: 1.6rem;
    }
}

@media(orientation:landscape) and (min-width:1600px) {

    .contact input,
    .contact button,
    .contact textarea {
        font-size: 2.4rem;

    }

    .contact .social span {
        font-size: 1.6rem;
    }
}

@media(orientation:landscape) and (min-width:1900px) {
    .contact .general {
        font-size: 6rem;
    }

    .contact input,
    .contact button,
    .contact textarea {
        font-size: 2.8rem;

    }

    .contact .socials {
        padding-top: 8%;
        padding-left: 4%;
    }

    .contact .social span {
        font-size: 1.6rem;
        padding-left: 3%;
    }
}

/* footer */

footer {
    padding: 20px 0;
    background-color: #5AC2FA;
    text-align: center;
    font-size: 1.6rem;
    color: #0E1E26;
}